<a href="https://colab.research.google.com/github/ELIJAHKUNGU/Machine-Learning-/blob/master/Copy_of_HealthDisease.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Q1.
Load the data from supplied data file. Select the first 500 observations/ samples from the dataset. Print
the data dimension.

In [ ]:
import pandas as pd
from google.colab import drive

In [ ]:
#first mounting drive to specify file path in the drive
drive.mount('/content/drive')

#loading the datasets
missing_values=['?','nan','null']
dataset=pd.read_csv("/content/hypothyroid (1).csv",na_values=missing_values)
dataset.head(500)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,age,sex,on thyroxine,pregnant,I131 treatment,query hyperthyroid,TSH,T3,TT4,FTI,binaryClass
0,41.0,F,f,f,f,f,1.30,2.5,125.0,109.0,P
1,23.0,F,f,f,f,f,4.10,2.0,102.0,NaN,P
2,46.0,M,f,f,f,f,0.98,NaN,109.0,120.0,P
3,70.0,F,t,f,f,f,0.16,1.9,175.0,NaN,P
4,70.0,F,f,f,f,f,0.72,1.2,61.0,70.0,P
...,...,...,...,...,...,...,...,...,...,...,...
495,46.0,F,f,f,f,f,NaN,NaN,93.0,102.0,P
496,45.0,F,f,f,f,f,0.02,1.4,144.0,NaN,P
497,82.0,M,f,f,f,f,0.15,1.4,133.0,134.0,P
498,55.0,F,f,f,f,f,11.00,1.5,144.0,116.0,N
499,43.0,M,f,f,f,f,0.10,NaN,62.0,66.0,P

In [ ]:
#dimensions of the data
print("This is the number of  of rows: \n", dataset.shape[0],'\n These are the numer of columns in the dataset \n',dataset.shape[1])

This is the number of  of rows:
 3772
 These are the numer of columns in the dataset
 11

# Q2.
Display the number of rows and their indices that have missing data in one or
more cells.

In [ ]:
#checking the umber of rows
dataset.isna().sum()

age                     1
sex                   150
on thyroxine            0
pregnant                0
I131 treatment          0
query hyperthyroid      0
TSH                   369
T3                    769
TT4                   231
FTI                   385
binaryClass             0
dtype: int64

In [ ]:
#the number of rows with missing data
dataset.loc[dataset.isnull().any(axis=1)].shape

(1128, 11)

In [ ]:
#shows the number of columns with missing values
print('These are the no.of rows with missing values: ',dataset.isnull().any(axis = 0).sum())

These are the no.of rows with missing values:  6

In [ ]:
dataset.loc[dataset.isnull().any(axis=1)].iloc[:200]

,age,sex,on thyroxine,pregnant,I131 treatment,query hyperthyroid,TSH,T3,TT4,FTI,binaryClass
1,23.0,F,f,f,f,f,4.100,2.0,102.0,NaN,P
2,46.0,M,f,f,f,f,0.980,NaN,109.0,120.0,P
3,70.0,F,t,f,f,f,0.160,1.9,175.0,NaN,P
5,18.0,F,t,f,f,f,0.030,NaN,183.0,141.0,P
6,59.0,F,f,f,f,f,NaN,NaN,72.0,78.0,P
...,...,...,...,...,...,...,...,...,...,...,...
673,66.0,F,t,f,f,f,1.100,NaN,117.0,108.0,P
674,70.0,F,t,f,f,f,0.120,NaN,124.0,129.0,P
675,74.0,F,t,f,f,f,1.500,NaN,175.0,153.0,P
677,45.0,F,f,f,f,f,0.005,NaN,132.0,147.0,P
680,15.0,M,f,f,f,f,1.300,NaN,102.0,105.0,P

In [ ]:
dataset.loc[dataset.isnull().any(axis=1)].iloc[200:400]

,age,sex,on thyroxine,pregnant,I131 treatment,query hyperthyroid,TSH,T3,TT4,FTI,binaryClass
685,63.0,NaN,f,f,f,f,NaN,NaN,NaN,NaN,P
687,39.0,F,f,f,f,f,0.3,NaN,NaN,NaN,P
690,66.0,M,f,f,f,f,2.3,NaN,78.0,77.0,P
693,67.0,F,f,f,f,f,1.9,NaN,152.0,135.0,P
696,18.0,NaN,f,f,f,f,1.2,1.9,83.0,77.0,P
...,...,...,...,...,...,...,...,...,...,...,...
1349,55.0,F,f,f,f,f,11.0,0.4,102.0,NaN,N
1350,57.0,F,f,f,f,f,NaN,2.2,NaN,NaN,P
1356,70.0,F,f,f,t,f,0.9,NaN,70.0,87.0,P
1361,53.0,F,f,f,f,f,NaN,2.4,99.0,88.0,P
1362,60.0,M,t,f,f,f,NaN,NaN,NaN,NaN,P

In [ ]:
dataset.loc[dataset.isnull().any(axis=1)].iloc[400:]

,age,sex,on thyroxine,pregnant,I131 treatment,query hyperthyroid,TSH,T3,TT4,FTI,binaryClass
1366,18.0,NaN,f,f,f,f,1.5,2.6,86.0,94.0,P
1369,39.0,F,f,f,f,f,NaN,NaN,NaN,NaN,P
1373,41.0,M,f,f,f,f,5.6,NaN,93.0,110.0,P
1379,21.0,NaN,f,f,f,f,NaN,NaN,90.0,92.0,P
1385,16.0,M,t,f,f,f,NaN,3.0,135.0,131.0,P
...,...,...,...,...,...,...,...,...,...,...,...
3752,71.0,F,f,f,f,f,NaN,NaN,NaN,NaN,P
3756,42.0,F,t,f,f,f,0.4,NaN,258.0,227.0,P
3762,61.0,M,f,f,f,f,NaN,1.0,72.0,103.0,P
3763,41.0,F,f,f,f,f,NaN,NaN,NaN,NaN,P
3767,30.0,F,f,f,f,f,NaN,NaN,NaN,NaN,P

Replace the missing data by the lowest value of the corresponding feature if it is a
continuous variable. 

In case of categorical variable, remove the sample.

 Print the median values of all features before and after replacing missing data.

In [ ]:
#cheking dataset datatypes
dataset.dtypes

age                   float64
sex                    object
on thyroxine           object
pregnant               object
I131 treatment         object
query hyperthyroid     object
TSH                   float64
T3                    float64
TT4                   float64
FTI                   float64
binaryClass            object
dtype: object

From the observation :

Continous variable: Age, TSH,T3,TT4,FT1

Categorical variable: sex ,on thyroxine,pregnant,I131 treatment,query hyperthyroid

In [ ]:
#continous variable
age_min=dataset.age.min()
type(age_min)

float

In [ ]:
dataset.age.fillna(age_min,inplace=True)

In [ ]:
TSH_min=dataset.TSH.min()
dataset.TSH.fillna(TSH_min,inplace=True)

In [ ]:
T3_min=dataset.T3.min()
dataset.T3.fillna(T3_min,inplace=True)

In [ ]:
TT4_min=dataset.TT4.min()
dataset.TT4.fillna(TT4_min,inplace=True)

In [ ]:
FTI_min=dataset.FTI.min()
dataset.FTI.fillna(FTI_min,inplace=True)

In [ ]:
#Now i can comfortably drop the null values 

dataset.dropna(axis=0, inplace=True)

In [ ]:
dataset.isna().sum()

age                   0
sex                   0
on thyroxine          0
pregnant              0
I131 treatment        0
query hyperthyroid    0
TSH                   0
T3                    0
TT4                   0
FTI                   0
binaryClass           0
dtype: int64

In [ ]:
dataset['sex'].value_counts()

F    2480
M    1142
Name: sex, dtype: int64

In [ ]:
#categorcal variables
dataset['sex'].dropna(axis=0,inplace=True,how ='any')

In [ ]:
dataset.isna().sum()

age                     0
sex                   150
on thyroxine            0
pregnant                0
I131 treatment          0
query hyperthyroid      0
TSH                   369
T3                    769
TT4                   231
FTI                   385
binaryClass             0
dtype: int64

In [ ]:
dataset.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

age     54.0
TSH      1.4
T3       2.0
TT4    103.0
FTI    107.0
dtype: float64

# Q3
Confirming change in data types, if yes, converting them back to appropriate data types

In [ ]:
#checking the data types of all columns, printing variables and their corresponding data types
print(dataset.dtypes)

age                   float64
sex                    object
on thyroxine           object
pregnant               object
I131 treatment         object
query hyperthyroid     object
TSH                   float64
T3                    float64
TT4                   float64
FTI                   float64
binaryClass            object
dtype: object

# Q4
Print total numbers and ratio of male and female patients who are receiving I131 treatment

In [ ]:
#Printing ratios of male and female patients who are receiving |131 treatment
total_r=dataset.groupby(['I131 treatment','sex'])['sex'].count()
total_t=dataset.groupby(['I131 treatment'])['sex'].count()
r=((total_r/total_t)*100).round(2)
print(r)

I131 treatment  sex
f               F      68.35
                M      31.65
t               F      76.36
                M      23.64
Name: sex, dtype: float64

Q5

---



---



 Print the average TSH and T3 with the patient with Hypothyroid problem.
Please report the pattern found in the result, if any.

In [ ]:
# dataset.mean(axis = 0)
averageTsh =  dataset.groupby(['TSH','query hyperthyroid']).mean()
print(averageTsh)

                                  age        T3         TT4         FTI
TSH     query hyperthyroid
0.005   f                   46.616477  0.689489   57.809659   57.622159
        t                   46.784314  1.675490   72.176471   69.549020
0.010   f                   52.833333  1.811111  152.388889  164.166667
        t                   46.333333  4.033333  166.000000  150.000000
0.015   f                   53.000000  2.655000  145.650000  164.950000
...                               ...       ...         ...         ...
400.000 f                   60.000000  0.500000   11.000000    9.100000
440.000 f                   18.000000  0.500000   24.000000   18.000000
468.000 f                   25.000000  0.700000   21.000000   19.000000
478.000 f                   18.000000  0.050000   45.000000   34.000000
530.000 f                   59.000000  2.000000   10.000000    8.500000

[367 rows x 4 columns]

                                  age        T3         TT4         FTI
TSH     query hyperthyroid
0.005   f                   46.616477  0.689489   57.809659   57.622159
        t                   46.784314  1.675490   72.176471   69.549020
0.010   f                   52.833333  1.811111  152.388889  164.166667
        t                   46.333333  4.033333  166.000000  150.000000
0.015   f                   53.000000  2.655000  145.650000  164.950000
...                               ...       ...         ...         ...
400.000 f                   60.000000  0.500000   11.000000    9.100000
440.000 f                   18.000000  0.500000   24.000000   18.000000
468.000 f                   25.000000  0.700000   21.000000   19.000000
478.000 f                   18.000000  0.050000   45.000000   34.000000
530.000 f                   59.000000  2.000000   10.000000    8.500000

[367 rows x 4 columns]